<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
		<meta name="description" content="JobBoard - HTML Template" />
	<meta property="og:title" content="JobBoard - HTML Template" />
	<meta property="og:description" content="JobBoard - HTML Template" />
	<meta property="og:image" content="JobBoard - HTML Template" />
	<meta name="format-detection" content="telephone=no"/>
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>249 Platform</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<!-- STYLESHEETS -->
	
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/ContactFrom_v2/css/main.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/ContactFrom_v2/css/util.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/plugins.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/style.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/template.css}"></link>
	<link class="skin" rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/skin-1.css}"></link>
	<link rel="stylesheet" th:href="@{/resources/JobBoardTemplate/css/bootstrap-datetimepicker.min.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/layers.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/settings.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/navigation.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/plugins/themify-icons.css}"></link>
	<!-- STYLESHEETS -->
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
	<!-- header -->
       <header class="site-header mo-left header fullwidth">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a><img th:src="@{/resources/JobBoardTemplate/images/rsz_1log_2_paint.jpg}"></img></a>
					
					</div>

                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>


                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <a href="register.html" class="site-button"><i class="fa fa-user"></i> Sign Up</a>
                            <a href="login.html" class="site-button"><i class="fa fa-lock"></i> login</a>
                            <a href="login.html" class="site-button"><i class="fa fa-lock"></i> logout</a>
                        </div>
                    </div>
                    
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">
						
					<li>
								<a>Programs</a>
				<ul class="sub-menu">
								    <li><a th:href="'/Form_v_1.0/InvestorController/getProgramList'" class="dez-page">View Programs</a></li>
								</ul>
							</li>				
				<li>
					
								<a>Platform</a>
				<ul class="sub-menu">
					
						    <li>
								     <th:span th:if="${role}=='PlatformAdmin'">
								 <!--  <li><a th:href="'/Form_v_1.0/PlatformUserController/addPlatformUser'" class="dez-page">Create Admin</a></li> -->
								  <li><a th:href="'/Form_v_1.0/PlatformUserController/getPlatformUserList'" class="dez-page">View Users</a></li>
								  <li><a th:href="'/Form_v_1.0/TalentController/getTalentList'" class="dez-page">View Talents</a></li>
								  </th:span>
						
							</li>
									  		  
								<!--    to be moved to userpage <li>
								     <th:span th:if="${role}!='PlatformAdmin'">
								     <li><a th:href="'/Form_v_1.0/EventController/getEventList'" class="dez-page">View Events</a></li>
								     <li><a th:href="'/Form_v_1.0/ComplainController/addComplain'" class="dez-page">Write A Message</a></li>
								    </th:span>
								    
								     <th:span th:if="${role}=='PlatformAdmin'">
								 <li> <a th:href="'/Form_v_1.0/EventController/addEvent'" class="dez-page">Create Event</a></li>
								  <li> <a th:href="'/Form_v_1.0/EventController/getEventList'" class="dez-page">View Events</a></li>
								  <li><a th:href="'/Form_v_1.0/PlatformUserController/addPlatformUser'" class="dez-page">Create Admin</a></li>
								  <li><a th:href="'/Form_v_1.0/PlatformUserController/getPlatformUserList'" class="dez-page">View Admins</a></li>
								  <li><a th:href="'/Form_v_1.0/AssetController/addResource'" class="dez-page">Create Resource</a></li>
								  <li><a th:href="'/Form_v_1.0/AssetController/getResourceList'" class="dez-page">View Resources</a></li>
								     <li> <a th:href="'/Form_v_1.0/AssetController/addPackage'" class="dez-page">Create Package</a></li>
								      <li><a th:href="'/Form_v_1.0/AssetController/getPackageList'" class="dez-page">View Packages</a></li>
								      <li><a th:href="'/Form_v_1.0/AssetController/getSubscriptionList'" class="dez-page">View Subscriptions</a></li>
								      <li> <a th:href="'/Form_v_1.0/ComplainController/getComplainList'" class="dez-page">View Messages</a></li>
								  </th:span>
							</li> -->
							
							</ul>
							
							</li>
					
												<li>
								<a href="#">Investors</a>
								
												<ul class="sub-menu">
									<li><a th:href="'/Form_v_1.0/InvestorController/addInvestor'" class="dez-page">Create Investor Profile</a></li>
								
								    <li><a th:href="'/Form_v_1.0/InvestorController/getInvestorList'" class="dez-page">View Investors</a></li>
								
								</ul>
							
							</li> 
							
																			<li>
								<a href="#">Startups</a>
								
												<ul class="sub-menu">
									<li><a th:href="'/Form_v_1.0/StartupController/addStartup'" class="dez-page">Create Startup Profile</a></li>
								
								    <li><a th:href="'/Form_v_1.0/StartupController/getStartupList'" class="dez-page">View Startups</a></li>
								
								</ul>
							
							</li> 
							
																			<li>
								<a href="#">Talents</a>
								
												<ul class="sub-menu">
									<li><a th:href="'/Form_v_1.0/TalentController/addTalent'" class="dez-page">Create Talent Profile</a></li>
								
								    <li><a th:href="'/Form_v_1.0/TalentController/getTalentList'" class="dez-page">View Talents</a></li>
								
								</ul>
							
							</li> 
							
									
																					<li>
								
							</li>
																			<li>
								
							</li>
																			<li>
								
							</li>
																			<li>
								
							</li>
															
													</ul>			
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
    
        <!-- inner page banner -->
<!-- 			<div class="section-full content-inner-2 call-to-action overlay-black-dark text-white text-center bg-img-fix" style="background-image: url(resources/JobBoardTemplate/images/workspace.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="m-b10">Create Your Online Profile with Us!</h2>
							<p class="m-b0">Join our platform as</p>
							
													<a th:href="'/Form_v_1.0/TalentController/addTalent'" class="site-button m-t20 outline outline-2 radius-xl">Talent </a>
						<a th:href="'/Form_v_1.0/StartupController/addStartup'" class="site-button m-t20 outline outline-2 radius-xl"> Startup </a>
						<a th:href="'/Form_v_1.0/InvestorController/addInvestor'" class="site-button m-t20 outline outline-2 radius-xl"> Investor</a>
						</div>
					</div>
				</div>
			</div> -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Job Detail -->
			<div class="section-full content-inner-1">
					<div class="col-lg-12 col-md-6">
										<div class="widget bg-white p-lr20 p-t20  widget_getintuch radius-sm">
					 <div class="col-lg-4 col-md-5 col-sm-12 sticky-top">
                        <aside  class="side-bar">
                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title style-1">Recent Posts</h6>
                                <div class="widget-post-bx">

                                    <div class="widget-post clearfix">
                                        <div class="dez-post-media"> <img src="images/blog/recent-blog/pic3.jpg" width="200" height="160" alt=""> </div>
                                        <div class="dez-post-info">
                                            <div class="dez-post-header">
                                                <h6 class="post-title"><a href="#">Using Banner Stands To Increase Trade Show Traffic</a></h6>
                                            </div>
                                            <div class="dez-post-meta">
												<ul class="d-flex align-items-center">
													<li class="post-date"><i class="fa fa-calendar"></i>Sep 18, 2017</li>
													<li class="post-comment"><a href="#"><i class="fa fa-comments-o"></i>5k</a> </li>
												</ul>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </aside>
                    </div>
                    </div>
                    </div>
				<div class="container">
			
			
                        <div class="row">
                        
                        
            <th:span>
            <!-- th:if="${role}!='anonymousUser'" -->	            
			<div class="col-lg-4">
							<div class="sticky-top">
							<div class="row">
					
									<div class="col-lg-12 col-md-6">
<!-- 										<div class="widget bg-white p-lr20 p-t20  widget_getintuch radius-sm">
					 <div class="col-lg-4 col-md-5 col-sm-12 sticky-top">
                        <aside  class="side-bar">
                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title style-1">Recent Posts</h6>
                                <div class="widget-post-bx">

                                    <div class="widget-post clearfix">
                                        <div class="dez-post-media"> <img src="images/blog/recent-blog/pic3.jpg" width="200" height="160" alt=""> </div>
                                        <div class="dez-post-info">
                                            <div class="dez-post-header">
                                                <h6 class="post-title"><a href="#">Using Banner Stands To Increase Trade Show Traffic</a></h6>
                                            </div>
                                            <div class="dez-post-meta">
												<ul class="d-flex align-items-center">
													<li class="post-date"><i class="fa fa-calendar"></i>Sep 18, 2017</li>
													<li class="post-comment"><a href="#"><i class="fa fa-comments-o"></i>5k</a> </li>
												</ul>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </aside>
                    </div>
                    </div> -->
  
											<ul>
			
	<th:span th:each="link : ${linkKeys}">												
 <li><a th:href="${links.get(link)}" th:text="${link}" class="dez-page"></a></li>
	</th:span>	
			
</ul>
</div>
</div>
</div>
</div>
</div>
		</th:span>		
						<div th:replace="generic :: ${section}"  class="col-lg-8">
				
					</div>
                        
                        

						</div>

					</div>
				</div>
			</div>
      
</div>


    <!-- Content END-->
	<!-- Footer -->
    <footer class="site-footer">
    </footer>
    <!-- Footer END -->
    <button class="scroltop fa fa-chevron-up" ></button>



<!-- JAVASCRIPT FILES ========================================= -->
<script th:src="@{/resources/JobBoardTemplate/js/jquery.min.js}"></script><!-- JQUERY.MIN JS -->
<script th:src="@{/resources/JobBoardTemplate/js/wow.js}"></script><!-- WOW JS -->
<script th:src="@{/resources/JobBoardTemplate/js/popper.min.js}"></script><!-- BOOTSTRAP.MIN JS -->
<script th:src="@{/resources/JobBoardTemplate/js/bootstrap.min.js}"></script><!-- BOOTSTRAP.MIN JS -->
<script th:src="@{/resources/JobBoardTemplate/js/bootstrap-select.min.js}"></script><!-- FORM JS -->
<script th:src="@{/resources/JobBoardTemplate/js/jquery.bootstrap-touchspin.js}"></script><!-- FORM JS -->
<script th:src="@{/resources/JobBoardTemplate/js/waypoints-min.js}"></script><!-- WAYPOINTS JS -->
<script th:src="@{/resources/JobBoardTemplate/js/counterup.min.js}"></script><!-- COUNTERUP JS -->
<script th:src="@{/resources/JobBoardTemplate/js/imagesloaded.js}"></script><!-- IMAGESLOADED -->
<script th:src="@{/resources/JobBoardTemplate/js/masonry-3.1.4.js}"></script><!-- MASONRY -->
<script th:src="@{/resources/JobBoardTemplate/js/masonry.filter.js}"></script><!-- MASONRY -->
<script th:src="@{/resources/JobBoardTemplate/js/owl.carousel.js}"></script><!-- OWL SLIDER -->
<script th:src="@{/resources/JobBoardTemplate/js/rangeslider.js}" ></script><!-- Rangeslider -->
<script th:src="@{/resources/JobBoardTemplate/js/custom.js}"></script><!-- CUSTOM FUCTIONS  -->
<script th:src="@{/resources/JobBoardTemplate/js/dz.carousel.js}"></script><!-- SORTCODE FUCTIONS  -->
<script th:src="@{/resources/JobBoardTemplate/js/dz.ajax.js}"></script><!-- CONTACT JS  -->
<script th:src="@{/resources/JobBoardTemplate/js/skrollr.min.js}"></script><!-- PAROLLER -->

<script th:src="@{/resources/jsAppForm/global.js}"></script>
<script th:src="@{/resources/jsAppForm/daterangepicker.js}"></script>
   <script src="@{/resources/jsAppForm/jquery.min.js}"></script>
    <!-- Vendor JS-->
    <script src="@{/resources/jsAppForm/select2.min.js}"></script>
    <script src="@{/resources/jsAppForm/moment.min.js}"></script>

</body>


</html>