<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/ContactFrom_v2/css/main.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/ContactFrom_v2/css/util.css}"></link>
	
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/plugins.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/style.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/template.css}"></link>
	<link class="skin" rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/skin-1.css}"></link>
	<link rel="stylesheet" th:href="@{/resources/JobBoardTemplate/css/bootstrap-datetimepicker.min.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/layers.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/settings.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/navigation.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/plugins/themify-icons.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/JobBoardTemplate/css/search.css}"></link>
	<!-- STYLESHEETS -->
	</head>
					<div th:fragment="platform-body-view-get" class="col-lg-8">
							<div class="job-info-box">	
								<th:span th:each="message : ${messages}">
							<h6 th:style="'color: purple;'" th:text="${message}"></h6>
							</th:span>
						
						
							<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" th:action="'/Form_v_1.0/'+${controllerName}+'/submit'+ ${operation} +${beanName}+'?id='+${bean.id}"
							method="post" th:object="${bean}" enctype="multipart/form-data">
							 
				<span class="contact100-form-title" th:text="${title}">
					
				</span>
					 
<input hidden="hidden" id="oldBean" name="oldBean" th:value="${oldBean}"></input>
							<th:span th:each="field : ${enabledFields}">

					<th:span th:if="${field.type}=='link'">
					
														<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
												<th:span th:each="option : ${field.options}">
							<a th:href="@{'/'+${field.List}+'Controller/get'+${field.List}+'?id='+${option.id}}" class="dez-page" th:text="${option.field1}"></a>
							</th:span>
					
						<span class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
									<!-- new  -->

							</th:span>
							
		<th:span th:if="${field.type}=='select'">
						<div class="wrap-input100 input100-select">
					<span class="label-input100" id="mySelect" th:field="*{__${field.name}__}" th:multiple="${field.multiple}">Needed Services</span>
					<div>
						<select class="selection-2" name="service">
		<th:span th:if="${bean.__${field.name}__} != null">
<option selected="selected" th:name="selected" th:text="${bean.__${field.name}__}" th:value = "${bean.__${field.name}__}" ></option>
</th:span>

<th:span th:if="${field.items}!=null and ${bean.__${field.name}__} == null">
<option selected="selected" th:name="empty" th:text="${'--- select an option ---'}" th:value = "null" ></option>
</th:span>

								<th:span th:each="item : ${field.items}">
								<th:span th:if="${bean.__${field.name}__} != ${item}">
																<option th:name="${field.name}" th:text="${item}" th:value="${item}"></option>
																</th:span>
										</th:span>

											<th:span th:if="${field.options}!=null and ${bean.__${field.name}__} == null">
											<option selected="selected" th:name="empty" th:text="${resources}" th:value = "null" ></option>
																		</th:span>
																		<th:span th:each="option : ${field.options}">
																		<th:span th:if="${bean.__${field.name}__} != ${option.id}">
																			<th:span th:if="${beanName} !='Package' and ${beanName} !='Event'">
																		<option th:name="${field.name}" th:value="${option.id}" th:text="${option.userName}"></option>
																		</th:span>
																		
																		<th:span th:if="${beanName}=='Package' or ${beanName}=='Event'">
																<option th:name="${field.name}" th:value="${option.id}" th:text="${option.resourceName}"></option>
																</th:span>
																</th:span>
										</th:span>

						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

										</th:span>
											
<th:span th:if="${field.type}=='textArea'">
					<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
						<textarea th:field="*{__${field.saveInField}__}" rows="5" cols="30" class="form-control" maxlength="900"></textarea>
									
						<span class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
					<!-- new  -->
</th:span> 			
									
								<th:span th:if="${field.type}=='text'">
									
									<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
																<div>
											<label th:text="#{${beanName}+'.'+${field.name}+'.title'}"></label>
											</div>
											<input th:disabled="disabled" class="input2" type="text" name="name" required="required"
											th:field="*{__${field.name}__}"
											th:name="${'bean'}" 
											 th:size="50" maxlength="50" th:pattern="${field.regExpr}">
						<span class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
									<!-- new  -->
									
								</th:span>
							
							<th:span th:if="${field.type}=='time'">
													<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
												<input th:disabled="disabled" class="input2" min="00:00" max="23:59" id="mySelect" th:required="${field.required}"
											th:field="*{__${field.name}__}"
											th:name="${field.name}" type="time"
											maxlength="100" th:pattern="${field.regExpr}" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please insert a valid value')"></input>

						<span class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
					<!-- new  -->
					
								</th:span>
									
								
								<th:span th:if="${field.type}=='date'">
								
					<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
												<input th:disabled="disabled" class="input2" type="date" name="name" required="required"
											th:field="*{__${field.name}__}"
											th:name="${'bean'}" 
											 th:size="50" maxlength="50" th:pattern="${field.regExpr}">
									
						<span class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
					<!-- new  -->

								</th:span>

<th:span th:if="${field.type}=='file'">
									<div class="form-group">
										<div>
											<label th:text="#{${beanName}+'.'+${field.name}+'.title'}"></label>
											</div>
											<div>
											<label th:text="${field.nameArb}"></label>
										</div>
									
								<a th:href="'/Form_v_1.0/'+${controllerName}+'/download?fileName='+${bean.__${field.name}__}"><span th:text="${bean.__${field.name}__}"></span></a>
	  <input type="file" accept="application/pdf" name="uploadedFileName" id="fileToUpload"></input>
								<!-- th:disabled="${role} == 'PlatformOwner' ? 'disabled':' ' -->
									</div>
								</th:span>
						

</th:span>

							<th:span th:each="field : ${disabledFields}">

					<th:span th:if="${field.type}=='link'">
														<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
												<th:span th:each="option : ${field.options}">
							<a th:disabled="disabled" th:href="@{'/'+${field.List}+'Controller/get'+${field.List}+'?id='+${option.id}}" class="dez-page" th:text="${option.field1}"></a>
							</th:span>
					
						<span class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
									<!-- new  -->
							</th:span>
		<th:span th:if="${field.type}=='select'">
						<div class="wrap-input100 input100-select">
					<span class="label-input100" id="mySelect" th:field="*{__${field.name}__}" th:multiple="${field.multiple}">Needed Services</span>
					<div>
						<select th:disabled="disabled" class="selection-2" name="service">
		<th:span th:if="${bean.__${field.name}__} != null">
<option selected="selected" th:name="selected" th:text="${bean.__${field.name}__}" th:value = "${bean.__${field.name}__}" ></option>
</th:span>

<th:span th:if="${field.items}!=null and ${bean.__${field.name}__} == null">
<option selected="selected" th:name="empty" th:text="${'--- select an option ---'}" th:value = "null" ></option>
</th:span>

								<th:span th:each="item : ${field.items}">
								<th:span th:if="${bean.__${field.name}__} != ${item}">
																<option th:name="${field.name}" th:text="${item}" th:value="${item}"></option>
																</th:span>
										</th:span>

											<th:span th:if="${field.options}!=null and ${bean.__${field.name}__} == null">
											<option selected="selected" th:name="empty" th:text="${resources}" th:value = "null" ></option>
																		</th:span>
																		<th:span th:each="option : ${field.options}">
																		<th:span th:if="${bean.__${field.name}__} != ${option.id}">
																			<th:span th:if="${beanName} !='Package' and ${beanName} !='Event'">
																		<option th:name="${field.name}" th:value="${option.id}" th:text="${option.userName}"></option>
																		</th:span>
																		
																		<th:span th:if="${beanName}=='Package' or ${beanName}=='Event'">
																<option th:name="${field.name}" th:value="${option.id}" th:text="${option.resourceName}"></option>
																</th:span>
																</th:span>
										</th:span>

						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

										</th:span>
											
<th:span th:if="${field.type}=='textArea'">
														<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
						<textarea th:disabled="disabled" th:field="*{__${field.saveInField}__}" rows="5" cols="30" class="form-control" maxlength="900"></textarea>
									
						<span class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
					<!-- new  -->
										</th:span> 
								<th:span th:if="${field.type}=='text'">
						
									<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
															<div>
											<label th:text="#{${beanName}+'.'+${field.name}+'.title'}"></label>
											</div>
												<input th:disabled="disabled" class="input2" type="text" name="name" required="required"
											th:field="*{__${field.name}__}"
											th:name="${'bean'}" 
											 th:size="50" maxlength="50" th:pattern="${field.regExpr}">
						<span class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
									<!-- new  -->

								</th:span>
							
							<th:span th:if="${field.type}=='time'">
						<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
												<input class="input2" min="00:00" max="23:59" id="mySelect" th:required="${field.required}"
											th:field="*{__${field.name}__}"
											th:name="${field.name}" type="time"
											maxlength="100" th:pattern="${field.regExpr}" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please insert a valid value')"></input>

						<span class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
					<!-- new  -->
									
								</th:span>
									
								
								<th:span th:if="${field.type}=='date'">
					<!-- new  -->
				    <div class="wrap-input2 validate-input" data-validate="Name is required">
												<input th:disabled="disabled" class="input2" type="date" name="name" required="required"
											th:field="*{__${field.name}__}"
											th:name="${'bean'}" 
											 th:size="50" maxlength="50" th:pattern="${field.regExpr}">
									
						<span th:disabled="disabled" class="focus-input2" th:data-placeholder="#{${beanName}+'.'+${field.name}+'.title'}"></span>
					</div>
					<!-- new  -->
								</th:span>

<th:span th:if="${field.type}=='file'">
									<div class="form-group">
										<div>
											<label th:text="#{${beanName}+'.'+${field.name}+'.title'}"></label>
											</div>
											<div>
											<label th:text="${field.nameArb}"></label>
										</div>
									
								<a th:href="'/Form_v_1.0/'+${controllerName}+'/download?fileName='+${bean.__${field.name}__}"><span th:text="${bean.__${field.name}__}"></span></a>
	<!--   <input type="file" accept="application/pdf" name="uploadedFileName" id="fileToUpload"></input> -->
								<!-- th:disabled="${role} == 'PlatformOwner' ? 'disabled':' ' -->
									</div>
								</th:span>
						

</th:span>
		<th:span th:if="${operation}=='Update' or ${operation}=='Add'">
							<button type="submit" class="site-button" id="btnContactUs"
								onclick="clicked()" th:text="${operation}"></button>
						
							
							<!--     <button  type="submit" class="site-button" id="btnContactUs" onclick="window.history.go(-1);">Back</button> -->
                
                     
							</th:span>	

                     	
						</form>	
						
		</div>
		</div>			
</div>
						</div>
			

    <!-- test pagination -->		
	 <div th:fragment="platform-pager">
	     	<div class="pagination-bx m-t30">
						          	<div>Page <strong th:text="${currentPage}"></strong> of  <strong th:text="${nOfPages}"></strong>
                    pages | Total <strong th:text="${nOfRecords}"></strong> records found
                    </div>
								<ul class="pagination">
                               
                    <li th:if="${nOfPages} > 1" th:each="i: ${#numbers.sequence(1, nOfPages)}"> 
                   	
                     <a th:href="'/Form_v_1.0/' + ${controllerName} + '/getPage' + '?id='+ ${i}"><strong th:text="${i}"></strong></a>
                       
                    </li>
                    
                    	</ul>
                    	
                    	</div>
                    	
     </div>

</html>
